---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resourceNames:
  - scalewayclusters.infrastructure.cluster.x-k8s.io
  - scalewayclustertemplates.infrastructure.cluster.x-k8s.io
  - scalewaymachines.infrastructure.cluster.x-k8s.io
  - scalewaymachinetemplates.infrastructure.cluster.x-k8s.io
  - scalewaymanagedclusters.infrastructure.cluster.x-k8s.io
  - scalewaymanagedcontrolplanes.infrastructure.cluster.x-k8s.io
  - scalewaymanagedmachinepools.infrastructure.cluster.x-k8s.io
  resources:
  - customresourcedefinitions
  - customresourcedefinitions/status
  verbs:
  - patch
  - update
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  - clusters/status
  - machinepools
  - machinepools/status
  - machines
  - machines/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - scalewayclusters
  - scalewaymachines
  - scalewaymanagedclusters
  - scalewaymanagedcontrolplanes
  - scalewaymanagedmachinepools
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - scalewayclusters/finalizers
  - scalewaymachines/finalizers
  - scalewaymanagedclusters/finalizers
  - scalewaymanagedcontrolplanes/finalizers
  - scalewaymanagedmachinepools/finalizers
  verbs:
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - scalewayclusters/status
  - scalewaymachines/status
  - scalewaymanagedclusters/status
  - scalewaymanagedcontrolplanes/status
  - scalewaymanagedmachinepools/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - scalewayclustertemplates
  - scalewaymachinetemplates
  verbs:
  - get
  - list
  - patch
  - update
  - watch
