---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: scalewaymachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: ScalewayMachineTemplate
    listKind: ScalewayMachineTemplateList
    plural: scalewaymachinetemplates
    shortNames:
    - smt
    singular: scalewaymachinetemplate
  scope: Namespaced
  versions:
  - deprecated: true
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ScalewayMachineTemplate is the Schema for the scalewaymachinetemplates
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ScalewayMachineTemplateSpec defines the desired state of
              ScalewayMachineTemplate.
            properties:
              template:
                properties:
                  metadata:
                    description: |-
                      Standard object's metadata.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata
                    type: object
                  spec:
                    description: ScalewayMachineSpec defines the desired state of
                      ScalewayMachine.
                    properties:
                      commercialType:
                        default: PRO2-S
                        description: CommercialType of instance (e.g. PRO2-S).
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      image:
                        description: Image ID, Name or Label to use to create the
                          instance.
                        properties:
                          id:
                            description: ID of the image.
                            type: string
                          label:
                            description: Label of the image.
                            type: string
                          name:
                            description: Name of the image.
                            type: string
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                        - message: exactly one of id, name or label must be set
                          rule: '(has(self.id) ? 1 : 0) + (has(self.name) ? 1 : 0)
                            + (has(self.label) ? 1 : 0) == 1'
                      placementGroup:
                        description: PlacementGroup allows attaching a Placement Group
                          to the instance.
                        properties:
                          id:
                            description: ID of the placement group.
                            type: string
                          name:
                            description: Name of the placement group.
                            type: string
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                        - message: exactly one of id or name must be set
                          rule: '(has(self.id) ? 1 : 0) + (has(self.name) ? 1 : 0)
                            == 1'
                      providerID:
                        description: ProviderID must match the provider ID as seen
                          on the node object corresponding to this machine.
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      publicNetwork:
                        description: PublicNetwork allows attaching public IPs to
                          the instance.
                        properties:
                          enableIPv4:
                            description: EnableIPv4 defines whether server has IPv4
                              address enabled.
                            type: boolean
                          enableIPv6:
                            description: EnableIPv6 defines whether server has IPv6
                              addresses enabled.
                            type: boolean
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      rootVolume:
                        description: RootVolume defines the characteristics of the
                          system (root) volume.
                        properties:
                          iops:
                            description: IOPS is the number of IOPS requested for
                              the disk. This is only applicable for block volumes.
                            format: int64
                            type: integer
                          size:
                            default: 20
                            description: Size of the root volume in GB. Defaults to
                              20 GB.
                            format: int64
                            minimum: 8
                            type: integer
                          type:
                            default: block
                            description: |-
                              Type of the root volume. Can be local or block. Note that not all types
                              of instances support local volumes.
                            enum:
                            - local
                            - block
                            type: string
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      securityGroup:
                        description: SecurityGroup allows attaching a Security Group
                          to the instance.
                        properties:
                          id:
                            description: ID of the security group.
                            type: string
                          name:
                            description: Name of the security group.
                            type: string
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                        - message: exactly one of id or name must be set
                          rule: '(has(self.id) ? 1 : 0) + (has(self.name) ? 1 : 0)
                            == 1'
                    required:
                    - commercialType
                    - image
                    type: object
                    x-kubernetes-validations:
                    - message: rootVolume cannot be added or removed
                      rule: has(self.rootVolume) == has(oldSelf.rootVolume)
                    - message: publicNetwork cannot be added or removed
                      rule: has(self.publicNetwork) == has(oldSelf.publicNetwork)
                    - message: placementGroup cannot be added or removed
                      rule: has(self.placementGroup) == has(oldSelf.placementGroup)
                    - message: securityGroup cannot be added or removed
                      rule: has(self.securityGroup) == has(oldSelf.securityGroup)
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: false
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: ScalewayMachineTemplate is the Schema for the scalewaymachinetemplates
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of ScalewayMachineTemplate
            properties:
              template:
                description: template is a ScalewayMachine template resource.
                properties:
                  metadata:
                    description: |-
                      metadata is a Standard object's metadata.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#metadata
                    minProperties: 1
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        description: |-
                          annotations is an unstructured key value map stored with a resource that may be
                          set by external tools to store and retrieve arbitrary metadata. They are not
                          queryable and should be preserved when modifying objects.
                          More info: http://kubernetes.io/docs/user-guide/annotations
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        description: |-
                          labels is a map of string keys and values that can be used to organize and categorize
                          (scope and select) objects. May match selectors of replication controllers
                          and services.
                          More info: http://kubernetes.io/docs/user-guide/labels
                        type: object
                    type: object
                  spec:
                    description: spec defines the desired state of ScalewayMachine
                    properties:
                      commercialType:
                        description: commercialType of instance (e.g. PRO2-S).
                        maxLength: 20
                        minLength: 1
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      image:
                        allOf:
                        - maxProperties: 1
                          minProperties: 1
                        - maxProperties: 1
                          minProperties: 1
                        description: image defines an image ID, Name or Label to use
                          to create the instance.
                        properties:
                          id:
                            description: id of the Scaleway resource.
                            maxLength: 36
                            minLength: 36
                            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                            type: string
                          label:
                            description: label of the image (as defined in the marketplace).
                            maxLength: 100
                            minLength: 1
                            type: string
                          name:
                            description: name of the Scaleway resource.
                            maxLength: 100
                            minLength: 1
                            type: string
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      placementGroup:
                        description: placementGroup allows attaching a Placement Group
                          to the instance.
                        maxProperties: 1
                        minProperties: 1
                        properties:
                          id:
                            description: id of the Scaleway resource.
                            maxLength: 36
                            minLength: 36
                            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                            type: string
                          name:
                            description: name of the Scaleway resource.
                            maxLength: 100
                            minLength: 1
                            type: string
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      providerID:
                        description: providerID must match the provider ID as seen
                          on the node object corresponding to this machine.
                        maxLength: 512
                        minLength: 1
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      publicNetwork:
                        description: publicNetwork allows attaching public IPs to
                          the instance.
                        minProperties: 1
                        properties:
                          enableIPv4:
                            description: enableIPv4 defines whether server should
                              have an IPv4 created and attached.
                            type: boolean
                          enableIPv6:
                            description: enableIPv6 defines whether server should
                              have an IPv6 created and attached.
                            type: boolean
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      rootVolume:
                        description: rootVolume defines the characteristics of the
                          system (root) volume.
                        minProperties: 1
                        properties:
                          iops:
                            description: iops is the number of IOPS requested for
                              the disk. This is only applicable for block volumes.
                            format: int64
                            minimum: 5000
                            type: integer
                          size:
                            default: 20
                            description: size of the root volume in GB. Defaults to
                              20 GB.
                            format: int64
                            maximum: 10000
                            minimum: 8
                            type: integer
                          type:
                            default: block
                            description: |-
                              type of the root volume. Can be local or block. Note that not all types
                              of instances support local volumes.
                            enum:
                            - local
                            - block
                            type: string
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                        - message: iops can only be set for block volumes
                          rule: '!has(self.iops) || has(self.type) && self.type ==
                            ''block'''
                      securityGroup:
                        description: securityGroup allows attaching a Security Group
                          to the instance.
                        maxProperties: 1
                        minProperties: 1
                        properties:
                          id:
                            description: id of the Scaleway resource.
                            maxLength: 36
                            minLength: 36
                            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
                            type: string
                          name:
                            description: name of the Scaleway resource.
                            maxLength: 100
                            minLength: 1
                            type: string
                        type: object
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                    required:
                    - commercialType
                    - image
                    type: object
                    x-kubernetes-validations:
                    - message: rootVolume cannot be added or removed
                      rule: has(self.rootVolume) == has(oldSelf.rootVolume)
                    - message: publicNetwork cannot be added or removed
                      rule: has(self.publicNetwork) == has(oldSelf.publicNetwork)
                    - message: placementGroup cannot be added or removed
                      rule: has(self.placementGroup) == has(oldSelf.placementGroup)
                    - message: securityGroup cannot be added or removed
                      rule: has(self.securityGroup) == has(oldSelf.securityGroup)
                required:
                - spec
                type: object
            required:
            - template
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
