---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: scalewaymachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: ScalewayMachine
    listKind: ScalewayMachineList
    plural: scalewaymachines
    shortNames:
    - sm
    singular: scalewaymachine
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Instance commercial type
      jsonPath: .spec.commercialType
      name: CommercialType
      type: string
    - description: Node provider ID
      jsonPath: .spec.providerID
      name: ProviderID
      type: string
    - description: Indicates whether the Scaleway machine is ready
      jsonPath: .status.ready
      name: Ready
      type: boolean
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ScalewayMachine is the Schema for the scalewaymachines API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ScalewayMachineSpec defines the desired state of ScalewayMachine.
            properties:
              commercialType:
                default: PRO2-S
                description: CommercialType of instance (e.g. PRO2-S).
                type: string
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
              image:
                description: Image ID, Name or Label to use to create the instance.
                properties:
                  id:
                    description: ID of the image.
                    type: string
                  label:
                    description: Label of the image.
                    type: string
                  name:
                    description: Name of the image.
                    type: string
                type: object
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
                - message: exactly one of id, name or label must be set
                  rule: '(has(self.id) ? 1 : 0) + (has(self.name) ? 1 : 0) + (has(self.label)
                    ? 1 : 0) == 1'
              providerID:
                description: ProviderID must match the provider ID as seen on the
                  node object corresponding to this machine.
                type: string
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
              publicNetwork:
                description: PublicNetwork allows attaching public IPs to the instance.
                properties:
                  enableIPv4:
                    description: EnableIPv4 defines whether server has IPv4 address
                      enabled.
                    type: boolean
                  enableIPv6:
                    description: EnableIPv6 defines whether server has IPv6 addresses
                      enabled.
                    type: boolean
                type: object
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
              rootVolume:
                description: RootVolume defines the characteristics of the system
                  (root) volume.
                properties:
                  iops:
                    description: IOPS is the number of IOPS requested for the disk.
                      This is only applicable for block volumes.
                    format: int64
                    type: integer
                  size:
                    default: 20
                    description: Size of the root volume in GB. Defaults to 20 GB.
                    format: int64
                    minimum: 8
                    type: integer
                  type:
                    default: block
                    description: |-
                      Type of the root volume. Can be local or block. Note that not all types
                      of instances support local volumes.
                    enum:
                    - local
                    - block
                    type: string
                type: object
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
            required:
            - commercialType
            - image
            type: object
            x-kubernetes-validations:
            - message: rootVolume cannot be added or removed
              rule: has(self.rootVolume) == has(oldSelf.rootVolume)
            - message: publicNetwork cannot be added or removed
              rule: has(self.publicNetwork) == has(oldSelf.publicNetwork)
          status:
            description: ScalewayMachineStatus defines the observed state of ScalewayMachine.
            properties:
              addresses:
                description: Addresses contains the associated addresses for the machine.
                items:
                  description: MachineAddress contains information for the node's
                    address.
                  properties:
                    address:
                      description: address is the machine address.
                      maxLength: 256
                      minLength: 1
                      type: string
                    type:
                      description: type is the machine address type, one of Hostname,
                        ExternalIP, InternalIP, ExternalDNS or InternalDNS.
                      enum:
                      - Hostname
                      - ExternalIP
                      - InternalIP
                      - ExternalDNS
                      - InternalDNS
                      type: string
                  required:
                  - address
                  - type
                  type: object
                type: array
              ready:
                description: |-
                  Ready denotes that the Scaleway machine infrastructure is fully provisioned.
                  NOTE: this field is part of the Cluster API contract and it is used to orchestrate provisioning.
                  The value of this field is never updated after provisioning is completed. Please use conditions
                  to check the operational state of the infra machine.
                type: boolean
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
