name: Create Release

on:
  push:
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  release:
    permissions:
      contents: write  # for softprops/action-gh-release to create/update GitHub release
    name: update release
    runs-on: ubuntu-latest
    steps:
      - name: Set env
        run: echo "RELEASE_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ env.RELEASE_TAG }}
      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # tag=v5.6.0
        with:
          go-version-file: go.mod
      - name: generate release artifacts
        env:
          IMG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_TAG }}
        run: make release
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # tag=v2.5.0
        with:
          prerelease: true
          generate_release_notes: true
          files: out/*
          tag_name: ${{ env.RELEASE_TAG }}
