name: E2E Tests

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    branches: [ "main" ]

# Avoid orphan/garbage resources on Scaleway
concurrency:
  group: test-e2e
  cancel-in-progress: false

jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Running Test e2e
        run: |
          go mod tidy
          bash hack/ci-e2e.sh
        env:
          E2E_SCW_ACCESS_KEY: ${{ secrets.E2E_SCW_ACCESS_KEY }}
          E2E_SCW_SECRET_KEY: ${{ secrets.E2E_SCW_SECRET_KEY }}
          E2E_SCW_PROJECT_ID: ${{ vars.E2E_SCW_PROJECT_ID }}
